.btn {
  background-color: blue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 8px 12px;
  transition: all .3s ease;

  &:hover {
    background-color: lighten(blue, 25%);
  }

  &-with-icon {
    .icon {
      margin-right: 10px;
    }
  }

  &-rounded {
    border-radius: 100%;
  }

  &-danger {
    background-color: red;

    &:hover {
      background-color: lighten(red, 30%);
    }
  }

  &-no-text {
    .icon {
      margin: 0px;
    }
  }
}