.team-search {
  margin-left: 30px;
  position: relative;

  &__input {
    background-color: #eee;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 10px;
    padding-right: 40px;
  }

  &__icon {
    color: #aaa;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
  }
}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}

.team-card-wrapper {
  perspective: 1000px;

  &:hover {
    .team-card {
      transform: rotateY(-180deg);
    }
  }
}

.team-card {
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.4);
  height: 270px;
  margin: 15px;
  position: relative;
  transform-style: preserve-3d;
  transition: all .5s ease;
  width: 230px;

  .front, .back {
    backface-visibility: hidden;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    position: absolute;
    transition: all .4s ease;
    height: 100%;
    width: 100%;
  }

  .front {
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);
  }

  &:hover {
    transform: rotateY(-180deg);
  }

  &__logo {
    display: block;
    margin: 0 auto;
    max-height: 200px;
    max-width: 200px;
  }

  &__name {
    margin-top: 20px;
    text-align: center;
  }

  &__info {

  }

  &__options {
    display: flex;
    justify-content: space-between;
  }
}

.team-add-btn {
  bottom: 35px;
  box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.7);
  cursor: pointer;
  font-size: 1.3em;
  height: 50px;
  padding: 0px;
  position: fixed;
  right: 15px;
  transition: all .3s ease;
  width: 50px;
  z-index: 1;

  &:hover {
    box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
    transform: scale(1.1);
  }
}

.team-add {
  &__title {
    margin-bottom: 20px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &-label {
      color: #555;
      margin-bottom: 5px;
    }

    &-field {
      border-radius: 5px;
      box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
      font-size: 1.1em;
      padding: 10px;
    }
  }

  &__options {
    display: flex;
    justify-content: flex-end;
  }

  &__add-btn {
    background-color: lightblue;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    margin-left: 10px;
    padding: 10px;
  }
}