.teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}

.team-card {
  border-radius: 7px;
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
  cursor: pointer;
  margin: 15px;
  padding: 15px;
  transition: all .3s ease;
  width: 230px;

  &:hover {
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.4);
  }

  &__logo {
    display: block;
    margin: 0 auto;
    max-height: 200px;
    max-width: 200px;
  }

  &__name {
    text-align: center;
  }
}