.modal {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: visibility 0s .5s, opacity .5s ease;
  visibility: hidden;
  width: 100%;
  z-index: 10;

  &.visible {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s 0s, opacity .5s ease;

    .modal__container {
      opacity: 1;
      top: 50px;
    }
  }

  &__container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    margin: 40px auto;
    max-width: 500px;
    opacity: 0;
    padding: 20px;
    position: relative;
    top: 120px;
    transition: opacity .3s ease, top .5s ease;
    width: 90%;
  }

  &__close {
    background-color: transparent;
    cursor: pointer;
    color: #333;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;

    &:hover {
      color: #555;
    }
  }
}